<?xml version="1.0" encoding="utf-8" ?>
<TenancyConfiguration>
<Tenancies>
  <Tenancy WebApplicationUrl="http://qa.jciqa.com" TenantAdminUrl="http://qa.jciqa.com/admin"/>
  <Tenancy WebApplicationUrl="http://apps.jciqa.com" TenantAdminUrl="http://qa.jciqa.com/admin"/>
</Tenancies>
</TenancyConfiguration>