<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="JCICAMTraceSource" switchName="sourceSwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="AzureDiagnostics">
            <filter type="" />
          </add>
          <!--<add name="localListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="c:\CAMLogs\myListener.log" traceOutputOptions="ProcessId,DateTime, Callstack" />
          <add type="JCI.CAM.Common.Logging.ConsoleTraceListener, JCI.CAM.Common, Version=1.0.0.0, Culture=neutral, PublicKeyToken=c07a043d3f0e8cd6" name="ConsoleListener" />-->
          <remove name="Default">
          </remove>
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="sourceSwitch" value="All" />
    </switches>
    <trace autoflush="true" indentsize="4">
    </trace>
  </system.diagnostics>
  <connectionStrings>
    <!-- The format of the connection string is "DefaultEndpointsProtocol=https;AccountName=NAME;AccountKey=KEY" -->
    <!-- For local execution, the value can be set either in this config file or through environment variables -->
    <add name="AzureWebJobsDashboard" connectionString="DefaultEndpointsProtocol=https;AccountName=jciapps;AccountKey=3PbxjE+8ReLcdIswmoCfnkzy3TGkfTIP8NGKLESvzV12MF+XT5ofITmNspd2GxZvgeFFPKMVNQad57R24+XzFw==" />
    <add name="AzureWebJobsStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=jciapps;AccountKey=3PbxjE+8ReLcdIswmoCfnkzy3TGkfTIP8NGKLESvzV12MF+XT5ofITmNspd2GxZvgeFFPKMVNQad57R24+XzFw==" />
    <add name="PersonalSitesTransformationTableStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=jcispappsqa;AccountKey=7VA8ERBd83W8fPxfAwVuAVdRrm/8Xi4ODlfQ41RggHtzw4KL52SYi90l8IU7FbVWT+8JT4G1WQlwToCX1pyDiw==" />
  </connectionStrings>
  <appSettings>
    <add key="ClientId" value="59aa58b0-d42c-4c27-8a76-2bc73d0f95f1" />
    <add key="ClientSecret" value="ABJTbWUUgjZKG70U7qi+sST9xSgxyTvQUmP5Hzomp/w=" />
    <add key="MySiteTenantAdminUrl" value="https://ppemysite.jci.com/MSOTenantContext" />
    <add key="PersonalSitesTransformationTableName" value="PersonalSitesTransformationList" />
    <add key="TenantAdminUrl" value="https://ppemy.jci.com/msotenantcontext" />

    <!--THE SITE THAT HOSTS THE PERSONAL SITE MIGRATION APPLICATION-->
    <!-- SharePoint OnPremise -->
    <add key="SharePointOnPremises" value="true" />
    <!-- Send email notification -->
    <add key="SendEmailNotification" value="true"/>
    <!-- Email configuration details-->
    <add key="SiteProvisioningSiteUrl" value="https://ppemy.jci.com/sites/SiteProvisioningV2" />
    <add key="WorkflowConfigurationListName" value="WorkflowConfiguration"/>
    <!-- APP site template -->
    <add key="AppSiteTemplate" value="APP" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ServiceBus" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>