<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.diagnostics>
    <sources>
      <source name="JCICAMTraceSource" switchName="sourceSwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <!--<add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.4.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="AzureDiagnostics">
            <filter type="" />
          </add>-->
          <add name="localListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="c:\CAMLogs\myListener.log" traceOutputOptions="ProcessId,DateTime, Callstack" />
          <add type="JCI.CAM.Common.Logging.ConsoleTraceListener, JCI.CAM.Common, Version=1.0.0.0, Culture=neutral, PublicKeyToken=c07a043d3f0e8cd6" name="ConsoleListener" />

          <remove name="Default"></remove>
        </listeners>

      </source>
    </sources>
    <switches>
      <add name="sourceSwitch" value="All" />
    </switches>
    <trace autoflush="true" indentsize="4"></trace>
  </system.diagnostics>


  <appSettings>

    <!-- SECTION BEGIN- Environment Specific -->
    <!-- Site Migration site Url -->
    <add key="MigrationRequestSiteUrl" value="https://ppemy.jci.com/sites/SiteProvisioningV2" />
    <!-- Content Type Hub Site collection url-->
    <add key="ContentTypeHubSiteUrl" value="https://ppeapps.jci.com/sites/contenthub" />
    <!-- Site Provisioning Site collection url-->
    <add key="SiteProvisioningSiteUrl" value="https://ppemy.jci.com/sites/SiteProvisioningV2" />
    <!-- Site Migration Request List Title-->
    <add key="SiteMigrationRequestListName" value="Site Migration Request" />

    <add key="DispFormPageRelativePath" value="/sites/SiteProvisioningV2/Lists/JCIWorkflowTaskList/DispForm.aspx" />

    <!-- SECTION END- Environment Specific -->


    <!-- SECTION BEGIN- Sandbox solution related -->
    <add key="SandboxedListDefinitionWSP" value="JCI.Sandboxed.Foundation.ListDefinitions.wsp" />
    <add key="SandboxedListDefinitionWSPGUID" value="21dcc0f0-5dfe-4a03-9727-4f300d12f521" />
    <add key="SandboxedSolutionMajorVersion" value="1" />
    <add key="SandboxedSolutionMinorVersion" value="1" />
    <!-- SECTION END- Sandbox solution related -->

    <!-- SECTION BEGIN- Content Types provisioning related -->
    <!-- Path of the theme schema xml file location -->
    <add key="ThemeXmlLocation" value=".\SchemaFiles\JCIThemePackage.xml" />
    <!-- Path of the fields schema xml file location -->
    <add key="FieldsXmlLocation" value=".\SchemaFiles\JCIFields.xml" />
    <!-- Path of the content type schema xml file location -->
    <add key="ContentTypeXmlLocation" value=".\SchemaFiles\JCIContentTypes.xml" />
    <!-- Path of the folder where the DocumentTemplates folder exists-->
    <add key="DocumentTemplatesLocation" value=".\DocumentTemplates" />
    <!-- Path of the DocumentTemplates schema xml file location -->
    <add key="DocumentTemplatesXmlLocation" value=".\SchemaFiles\DocumentTemplates.xml" />
    <!-- Path of the taxonomy fields schema xml file location -->
    <add key="TaxonomyFieldsXmlLocation" value=".\SchemaFiles\JCITaxonomyFields.xml" />
    <!-- Path of the SiteMigrationRequestList schema xml file location -->
    <add key="SiteMigrationRequestListXmlLocation" value=".\SchemaFiles\SiteMigrationRequestList.xml" />
    <!-- Path of the SiteProvisioningLists schema xml file location -->
    <add key="SiteProvisioningListsXmlLocation" value=".\SchemaFiles\SiteProvisioningLists.xml" />
    <!-- Path of the ListTemplates schema xml file location -->
    <add key="ListTemplatesXmlLocation" value=".\SchemaFiles\ListTemplates.xml" />
    <add key="WebPartFile" value=".\WebPartDefinition\ScriptEditor.webpart" />

    <add key="WebPartTitle" value="NewLinkScriptEditor" />
    <!-- SECTION END- Content Types provisioning related -->

    <!-- SECTION BEGIN- Site Provisioning Specific -->
    <!-- Site Request List -->
    <add key="SiteRequestListTitle" value="SiteRequest" />
    <!-- Site Request List Fields to be indexed -->
    <add key="SiteRequestListIndexbleColumns" value="BusinessUnit,Region,Country,SiteType,ConfidentialityLevel,CostCenter" />
    <add key="SiteRequestApprovalWorkflowFilePath" value=".\workflows\SiteRequestApprovalWorkflow.xaml" />
    <add key="SiteRequestApprovalWorkflowDefinitionName" value="Site Request Approval Workflow" />
    <add key="SiteRequestApprovalWorkflowSubscriptionName" value="Site Request Approval" />
    <add key="SiteRequestUpdateWorkflowFilePath" value=".\workflows\SiteRequestUpdatedWorkflow.xaml" />
    <add key="SiteRequestUpdateWorkflowDefinitionName" value="Site Request Update Workflow" />
    <add key="SiteRequestUpdateWorkflowSubscriptionName" value="Site Request Update" />
    <add key="HistoryListName" value="JCIWorkflowHistoryList" />
    <add key="WorkflowTaskListName" value="JCIWorkflowTaskList" />
    <!-- SECTION END- Site Provisioning Specific -->

    <!-- Possible Environment values - OnPremise, Dedicated and Standard. OnPremise is default option.-->
    <add key="Environment" value="Dedicated"/>

  </appSettings>
</configuration>