<?xml version="1.0" encoding="utf-8" ?>
<ConfigurationContainers>
  <Containers>
    <ConfigurationContainer Name="TeamSiteConfig">

      <Lists>
        <ListInstance Title = "Project Documents"
                     Description = "Project Documents are stored here"
                     DocumentTemplate = ""
                     DefinitionName ="JCI IT Project Document Library"
                     OnQuickLaunch = "true"
                     QuickLaunchUrl = "/_layouts/15/start.aspx#/ProjectDocuments/Forms/AllItems.aspx"
                     TemplateType = "101"
                     Url = "Lists/ProjectDocuments"
                     EnableVersioning ="true"
                      IsCustom ="true">
        </ListInstance>
        <ListInstance Title = "General Documents"
                   Description = "General Documents are stored here"
                   DocumentTemplate = ""
                   DefinitionName ="JCI General Project Document Library"
                   OnQuickLaunch = "true"
                   QuickLaunchUrl = "/_layouts/15/start.aspx#/GeneralDocuments/Forms/AllItems.aspx"
                   TemplateType = "101"
                   Url = "Lists/GeneralDocuments"
                   EnableVersioning ="true"
                    IsCustom ="true">
        </ListInstance>
        <ListInstance Title = "Base Documents"
                   Description = "Base Documents are stored here"
                   DocumentTemplate = ""
                   DefinitionName ="JCI Base Metadata Document Library"
                   OnQuickLaunch = "true"
                   QuickLaunchUrl = "/_layouts/15/start.aspx#/BaseDocuments/Forms/AllItems.aspx"
                   TemplateType = "101"
                   Url = "Lists/BaseDocuments"
                   EnableVersioning ="true"
                    IsCustom ="true">
        </ListInstance>
        <ListInstance Title = "Custom Test Library"
                     Description = "Documents are stored here"
                     DocumentTemplate = "101"
                     DefinitionName =""
                     OnQuickLaunch = "true"
                     QuickLaunchUrl = "/_layouts/15/start.aspx#/CustomTestDocuments/Forms/AllItems.aspx"
                     TemplateType = "101"
                     Url = "Lists/CustomTestDocuments"
                     EnableVersioning ="true"
                      IsCustom ="false">
          <ContentTypeBindings>
            <ContentTypeBinding ContentTypeID="0x01005D4F34E4BE7F4B6892AEBE088EDD215E" Default="true"/>
            <ContentTypeBinding ContentTypeID="0x010100EA254AAEB50D427F87E6DD3EC4BD2437" />
            <ContentTypeBinding ContentTypeID="0x010100EA254AAEB50D427F87E6DD3EC4BD243700E2616887C9CA46A68EB2B6CB63D4D390" />
            <ContentTypeBinding ContentTypeID="0x010100EA254AAEB50D427F87E6DD3EC4BD2437006A6FABED10C54632AD4D118B640A67BD" />
          </ContentTypeBindings>
        </ListInstance>
      </Lists>

      <Features>
        <Feature Name="Document ID Service (DocID) site collection feature" ID="b50e3104-6812-424f-a011-cc90e6327318" Scope="Site" Activate="true" />
        <Feature Name="Search Server Web Parts and Templates (SearchMaster) site collection feature" ID="9c0834e1-ba47-4d49-812b-7d4fb6fea211" Scope="Site" Activate="true" />
        <Feature Name="Workflows (Workflows) site collection feature" ID="0af5989a-3aea-4519-8ab0-85d91abe39ff" Scope="Site" Activate="true" />
        <Feature Name="Metadata Navigation and Filtering (MetaDataNav) site feature" ID="7201d6a4-a5d3-49a1-8c19-19c4bac6e668" Scope="Web" Activate="true" />
        <Feature Name="Community Site Feature (CommunitySite) site feature" ID="961d6a9c-4388-4cf2-9733-38ee8c89afd4" Scope="Web" Activate="true" />
        <Feature Name="Project Functionality (ProjectFunctionality) site feature" ID="e2f2bb18-891d-4812-97df-c265afdba297" Scope="Web" Activate="true" />
        <Feature Name="Getting Started (GettingStarted) site feature" ID="4aec7207-0d02-4f4f-aa07-b370199cd0c7" Scope="Web" Activate="false" />
      </Features>

    </ConfigurationContainer>

    <ConfigurationContainer Name="ProjectSiteConfig">

      <Lists>

        <ListInstance Title="Team Project Assignments"
                      Url="Lists/TeamProjectAssignments"
                      Description = "Project Documents are stored here"
                      DocumentTemplate = ""
                   DefinitionName ="Team Project Assignments"
                   OnQuickLaunch = "true"
                   QuickLaunchUrl = "/_layouts/15/start.aspx#/TeamProjectAssignments/Forms/AllItems.aspx"
                   TemplateType = "101"
                   EnableVersioning ="true"
                    IsCustom ="true">
        </ListInstance>

        <ListInstance Title="Project Change Request"
                      Url="Lists/ProjectChangeRequest"
                        Description = "Project Documents are stored here"
                      DocumentTemplate = ""
                   DefinitionName ="Project Change Request"
                   OnQuickLaunch = "true"
                   QuickLaunchUrl = "/_layouts/15/start.aspx#/ProjectChangeRequest/Forms/AllItems.aspx"
                   TemplateType = "101"
                   EnableVersioning ="true"
                    IsCustom ="true">
        </ListInstance>
      </Lists>

      <Features>
        <Feature Name="Document ID Service (DocID) site collection feature" ID="b50e3104-6812-424f-a011-cc90e6327318" Scope="Site" Activate="true" />
        <Feature Name="Search Server Web Parts and Templates (SearchMaster) site collection feature" ID="9c0834e1-ba47-4d49-812b-7d4fb6fea211" Scope="Site" Activate="true" />
        <Feature Name="Workflows (Workflows) site collection feature" ID="0af5989a-3aea-4519-8ab0-85d91abe39ff" Scope="Site" Activate="true" />
        <Feature Name="Metadata Navigation and Filtering (MetaDataNav) site feature" ID="7201d6a4-a5d3-49a1-8c19-19c4bac6e668" Scope="Web" Activate="true" />
        <Feature Name="Community Site Feature (CommunitySite) site feature" ID="961d6a9c-4388-4cf2-9733-38ee8c89afd4" Scope="Web" Activate="true" />
        <Feature Name="Project Functionality (ProjectFunctionality) site feature" ID="e2f2bb18-891d-4812-97df-c265afdba297" Scope="Web" Activate="true" />
        <Feature Name="Getting Started (GettingStarted) site feature" ID="4aec7207-0d02-4f4f-aa07-b370199cd0c7" Scope="Web" Activate="false" />
      </Features>

    </ConfigurationContainer>

    <ConfigurationContainer Name="CommunitySiteConfig">

      <Lists>
        <ListInstance Title="Community Announcements"
                      OnQuickLaunch="false"
                      TemplateType="104"
                      Url="Lists/CommunityAnnouncements"
                      Description="Community Announcement List"
                      DocumentTemplate = "104"
                      DefinitionName =""
                      QuickLaunchUrl = "/_layouts/15/start.aspx#/Lists/CommunityAnnouncements/AllItems.aspx"
                      EnableVersioning ="true"
                      IsCustom ="false">
        </ListInstance>

        <ListInstance Title="Community Calendar"
                      OnQuickLaunch="false"
                      TemplateType="106"
                      Url="Lists/CommunityCalendar"
                      Description="Community Calendar"
                      DocumentTemplate = "106"
                      DefinitionName =""
                      QuickLaunchUrl = "/_layouts/15/start.aspx#/Lists/CommunityCalendar/AllItems.aspx"
                      EnableVersioning ="true"
                      IsCustom ="false">
        </ListInstance>

        <ListInstance Title="Community Links"
                      OnQuickLaunch="false"
                      TemplateType="103"
                      Url="Lists/CommunityLinks"
                      Description="Community Links list"
                      DocumentTemplate = "103"
                      DefinitionName =""
                      QuickLaunchUrl = "/_layouts/15/start.aspx#/Lists/CommunityLinks/AllItems.aspx"
                      EnableVersioning ="true"
                      IsCustom ="false">
        </ListInstance>

        <ListInstance Title="Community PictureLibrary"
                      OnQuickLaunch="false"
                      TemplateType="109"
                      Url="Lists/CommunityPictureLibrary"
                      Description="Community Picture Library"
                      DocumentTemplate = "109"
                      DefinitionName =""
                      QuickLaunchUrl = "/_layouts/15/start.aspx#/Lists/CommunityPictureLibrary/AllItems.aspx"
                      EnableVersioning ="true"
                      IsCustom ="false">
        </ListInstance>

        <ListInstance Title="Promoted Links"
                      OnQuickLaunch="false"
                      TemplateType="170"
                      Url="Lists/CommunityPromotedLinks"
                      Description="Community promoted Links"
                      DocumentTemplate = "170"
                      DefinitionName =""
                      QuickLaunchUrl = "/_layouts/15/start.aspx#/Lists/CommunityPromotedLinks/AllItems.aspx"
                      EnableVersioning ="true"
                      IsCustom ="false">
        </ListInstance>

        <ListInstance Title="Quick Poll"
                      OnQuickLaunch="false"
                      TemplateType="102"
                      Url="Lists/QuickPoll"
                      Description="Quick Poll"
                      DocumentTemplate = "102"
                      DefinitionName =""
                      QuickLaunchUrl = "/_layouts/15/start.aspx#/Lists/QuickPoll/AllItems.aspx"
                      EnableVersioning ="true"
                      IsCustom ="false">
        </ListInstance>

      </Lists>

      <Features>
        <Feature Name="Document ID Service (DocID) site collection feature" ID="b50e3104-6812-424f-a011-cc90e6327318" Scope="Site" Activate="true" />
        <Feature Name="Search Server Web Parts and Templates (SearchMaster) site collection feature" ID="9c0834e1-ba47-4d49-812b-7d4fb6fea211" Scope="Site" Activate="true" />
        <Feature Name="Workflows (Workflows) site collection feature" ID="0af5989a-3aea-4519-8ab0-85d91abe39ff" Scope="Site" Activate="true" />
        <Feature Name="Metadata Navigation and Filtering (MetaDataNav) site feature" ID="7201d6a4-a5d3-49a1-8c19-19c4bac6e668" Scope="Web" Activate="true" />
        <Feature Name="Community Site Feature (CommunitySite) site feature" ID="961d6a9c-4388-4cf2-9733-38ee8c89afd4" Scope="Web" Activate="true" />
        <Feature Name="Project Functionality (ProjectFunctionality) site feature" ID="e2f2bb18-891d-4812-97df-c265afdba297" Scope="Web" Activate="true" />
        <Feature Name="Getting Started (GettingStarted) site feature" ID="4aec7207-0d02-4f4f-aa07-b370199cd0c7" Scope="Web" Activate="false" />
      </Features>

    </ConfigurationContainer>
    
  </Containers>
</ConfigurationContainers>
  
