<?xml version="1.0" encoding="utf-8"?>
<TemplateConfiguration>

  <Templates>

    <Template ID="Team Site"
              Name="Team Site"
              Title="Team Site"
              RootTemplate="STS#0"
              Description="Team sites are well suited for distinct groups of users to collaborate and store information that is common to the team, such as documents and calendars. They are generally used within organizational hierarchies, and generally have more permanence than project sites."
              RootWebOnly="false"
              HostPath="https://team.com/"
              ManagedPath="sites"
              Version="1"
              StorageMaximumLevel="110"
              StorageWarningLevel="80"
              UserCodeMaximumLevel="10"
              UserCodeWarningLevel="5"
              ThemePackageName="JCITheme"
              Enabled="true"
              ConfigurationName="TeamSiteConfig"/>

    <Template ID="Community Site"
        Name="Community Site"
        Title="Community Site"
        RootTemplate="COMMUNITY#0"
        Description="Communities are well suited for mass collaboration initiatives, where a large group of users participate in sharing knowledge and learning from other people across organizational and hierarchical boundaries. They are a persistent form of knowledge collection and storage."
        RootWebOnly="true"
        HostPath="https://team.com/"
        ManagedPath="sites"
        Version="1"
        StorageMaximumLevel="100"
        StorageWarningLevel="80"
        UserCodeMaximumLevel="100"
        UserCodeWarningLevel="80"
        ThemePackageName="JCITheme"
        Enabled="true"
        ConfigurationName="CommunitySiteConfig"/>

    <Template ID="Project Site"
      Name="Project Site"
      Title="Project Site"
      RootTemplate="PROJECTSITE#0"
      Description="Project sites are well suited for distinct groups of users who are working together on a specific project, although these users might span organizational hierarchies. They generally exist only for the life of a project, and might be discarded or archived when the project is completed."
      RootWebOnly="false"
      HostPath="https://team.com/"
      ManagedPath="teams"
      Version="1"
      StorageMaximumLevel="100"
      StorageWarningLevel="80"
      UserCodeMaximumLevel="100"
      UserCodeWarningLevel="80"
      ThemePackageName="JCITheme"
      Enabled="false"
      ConfigurationName="ProjectSiteConfig"/>

  </Templates>

  <ThemePackages>

    <ThemePackage Name="JCITheme"
                   ColorFile="Resources\Themes\JCITheme\JCIPalette.spcolor"
                   FontFile=""
                   BackgroundFile=""
                   MasterPage=""
                   AlternateCSS=""
                   SiteLogo="Resources\Themes\JCITheme\JohnsonControlsLogo.png"
                   Version="1" >
    </ThemePackage>

  </ThemePackages>

  <CustomActions>

    <CustomAction Name="JCI_CAM_SubSite_OverrideCreateNewSite"
                      Description="Update create new site link point to jci sub site provisioning App page"
                      Group="ScriptLink"
                      Location="ScriptLink"
                      Title="Override Create New Site"
                      Sequence="1001"
                      Url="https://jciftccamapps9.azurewebsites.net/subsiteprovisioning/"
                      Rights="31"
                      ScriptSrc=""
                      Enabled="true"
                      Remove="false">
      <ScriptBlock>
        <![CDATA[    
       var JCI_CAM_SubSiteSetting_AppWebUrl = 'https://jciftccamapps9.azurewebsites.net/subsiteprovisioning/';
       var headID = document.getElementsByTagName('head')[0]; 
       var subsiteScriptTag = document.createElement('script');
          subsiteScriptTag.type = 'text/javascript';
          subsiteScriptTag.src = JCI_CAM_SubSiteSetting_AppWebUrl + 'Resources/OverrideNewSubSiteLink.js';
          headID.appendChild(subsiteScriptTag);     
      ]]>
      </ScriptBlock>
    </CustomAction>

    <CustomAction Name="JCI_CAM_HeaderFooterInjection"
                  Description="Site Classification Application"
                  Group="ScriptLink"
                  Location="ScriptLink"
                  Title="Branding Customization Injection"
                  ScriptSrc=""
                  Sequence="1002"
                  Url="https://jciftccamapps9.azurewebsites.net/branding"
                  Rights="31"
                  Enabled="true"
                  Remove="false">
      <ScriptBlock>
        <![CDATA[      
 
          var JCI_CAM_BrandingCustomizationApp_AppWeb = 'https://jciftccamapps9.azurewebsites.net/branding';
   
          var headID = document.getElementsByTagName('head')[0]; 
          var JCIMasterCSS = document.createElement('link');
          JCIMasterCSS.rel = 'stylesheet'; 
          JCIMasterCSS.href = JCI_CAM_BrandingCustomizationApp_AppWeb + '/Styles/CSS/JCIMaster.css';
          JCIMasterCSS.type = 'text/css';
          headID.appendChild(JCIMasterCSS);
          var brandingNavigation = document.createElement('script');
          brandingNavigation.type = 'text/javascript';
          brandingNavigation.src = JCI_CAM_BrandingCustomizationApp_AppWeb + '/scripts/InjectBrandingNavigation.js';
          headID.appendChild(brandingNavigation);        
          var JCIMaster = document.createElement('script'); JCIMaster.type = 'text/javascript';
          JCIMaster.src = JCI_CAM_BrandingCustomizationApp_AppWeb + '/scripts/JCIMaster.js';
          headID.appendChild(JCIMaster);
          var JCIGlobalNavigation = document.createElement('script');
          JCIGlobalNavigation.type = 'text/javascript';
          JCIGlobalNavigation.src = JCI_CAM_BrandingCustomizationApp_AppWeb + '/scripts/JCIGlobalNavigation.js';
          headID.appendChild(JCIGlobalNavigation);
          var jQueryWaterMark = document.createElement('script');
          jQueryWaterMark.type = 'text/javascript';
          jQueryWaterMark.src = JCI_CAM_BrandingCustomizationApp_AppWeb + '/scripts/JQuery.WaterMark.js';
          headID.appendChild(jQueryWaterMark);
          var directAccess = document.createElement('script');
          directAccess.type = 'text/javascript';
          directAccess.src = JCI_CAM_BrandingCustomizationApp_AppWeb + '/scripts/DirectAccess.js';
          headID.appendChild(directAccess);
          var webtrendsLoad = document.createElement('script');
          webtrendsLoad.type = 'text/javascript';
          webtrendsLoad.src = JCI_CAM_BrandingCustomizationApp_AppWeb + '/scripts/webtrends.load.js'; 
          headID.appendChild(webtrendsLoad);
         
        ]]>
      </ScriptBlock>
    </CustomAction>

    <CustomAction Name="JCI_CAM_SPDSettings"
                      Description="Site Classification Application"
                      Group="ScriptLink"
                      Location="ScriptLink"
                      Title="SPD Settings"
                      ScriptSrc=""
                      Sequence="1003"
                      Url="https://jciftccamapps9.azurewebsites.net/SPDSettings"
                      Rights="31"
                      Enabled="true"
                      Remove="false">
      <ScriptBlock>
        <![CDATA[         
          var JCI_CAM_SPDSettingsApp_AppWeb = 'https://jciftccamapps9.azurewebsites.net/SPDSettings'; 
          var headID = document.getElementsByTagName('head')[0];
          var newScript = document.createElement('script');
          newScript.type = 'text/javascript';
          newScript.src = JCI_CAM_SPDSettingsApp_AppWeb + '/scripts/settings.js';
          headID.appendChild(newScript);       
        ]]>
      </ScriptBlock>
    </CustomAction>

    <CustomAction Name="JCI_CAM_TestSiteBannerInjection"
                  Description="Test site banner injection."
                  Group="ScriptLink"
                  Location="ScriptLink"
                  Title="Test site banner injection."
                  ScriptSrc=""
                  Sequence="1000"
                  Url="https://jciftccamapps9.azurewebsites.net/testsitebanner"
                  Rights="31"
                  Enabled="true"
                  Remove="false">
    <ScriptBlock>
      <![CDATA[
var JCI_CAM_TestSiteBannerApp_AppWeb = 'https://jciftccamapps9.azurewebsites.net/testsitebanner';
var headID = document.getElementsByTagName('head')[0];
var newScript = document.createElement('script');
newScript.type = 'text/javascript';
newScript.src = JCI_CAM_TestSiteBannerApp_AppWeb + '/scripts/TestSiteBannerInjection.js';
headID.appendChild(newScript);
]]>
    </ScriptBlock>
    </CustomAction>
    
  </CustomActions>

  <Lists>

    <List Title="JCI Base Metadata Document Library" Url="JCIBaseMetadataDocumentLibrary" BaseType="1" EnableContentTypes="TRUE" VersioningEnabled="TRUE" MajorVersionLimit="10" EnableMinorVersions="TRUE" MajorWithMinorVersionsLimit="10">
      <ContentTypes>
        <ContentTypeRef ID="0x010100EA254AAEB50D427F87E6DD3EC4BD2437" />
        <ContentTypeRef ID="0x0120" />
        <ContentTypeRef ID="0x0101" />
        <ContentTypeRef ID="0x010100EA254AAEB50D427F87E6DD3EC4BD243700E2616887C9CA46A68EB2B6CB63D4D390" />
        <ContentTypeRef ID="0x010100EA254AAEB50D427F87E6DD3EC4BD2437006A6FABED10C54632AD4D118B640A67BD" />
      </ContentTypes>
      <Fields>
      </Fields>
      <Views>
      </Views>
      <Receivers>
        <Receiver>
          <Name>AutoTaggingServiceItemAdding</Name>
          <Type>ItemAdding</Type>
          <SequenceNumber>10000</SequenceNumber>
          <Url>https://jciautotagging.azurewebsites.net/Services/AutoTaggingService.svc</Url>
          <Synchronization>Synchronous</Synchronization>
        </Receiver>
        <Receiver>
          <Name>AutoTaggingServiceItemAdded</Name>
          <Type>ItemAdded</Type>
          <SequenceNumber>10000</SequenceNumber>
          <Url>https://jciautotagging.azurewebsites.net/Services/AutoTaggingService.svc</Url>
          <Synchronization>Synchronous</Synchronization>
        </Receiver>
      </Receivers>
    </List>

    <List Title="JCI General Project Document Library" Direction="Direction" Url="JCIGeneralProjectDocumentLibrary" BaseType="1" EnableContentTypes="TRUE" VersioningEnabled="TRUE" MajorVersionLimit="10" EnableMinorVersions="TRUE" MajorWithMinorVersionsLimit="10">
      <ContentTypes>
        <ContentTypeRef ID="0x010100EA254AAEB50D427F87E6DD3EC4BD2437001AA0C7DF0AF14AE6B3FCF07D05373CB4" />
        <ContentTypeRef ID="0x0120" />
        <ContentTypeRef ID="0x0101" />
      </ContentTypes>
      <Fields>
        <Field ID="{23203e97-3bfe-40cb-afb4-07aa2b86bf45}" Type="Text" Name="ProjectID" DisplayName="Project ID" Group="JCI.Foundation.Columns" SourceID="http://schemas.microsoft.com/sharepoint/v3" MaxLength="255" AllowDeletion="TRUE" StaticName="ProjectID" />
        <Field ID="{b01b3dbc-4630-4ed1-b5ba-321bc7841e3d}" Type="Text" Name="ProjectName" DisplayName="Project Name" Group="JCI.Foundation.Columns" SourceID="http://schemas.microsoft.com/sharepoint/v3" MaxLength="255" AllowDeletion="TRUE" StaticName="ProjectName" />
        <Field ID="{a5de9600-b7a6-42dd-a05e-10d4f1500208}" Type="Text" Name="ProjectManager" DisplayName="Project Manager" Group="JCI.Foundation.Columns" SourceID="http://schemas.microsoft.com/sharepoint/v3" MaxLength="255" AllowDeletion="TRUE" StaticName="ProjectManager" />
        <Field ID="{f1a1715e-6c52-40de-8403-e9aafd0470d0}" Type="Text" Name="DocumentDescription" DisplayName="Document Description" Group="JCI.Foundation.Columns" SourceID="http://schemas.microsoft.com/sharepoint/v3" MaxLength="255" AllowDeletion="TRUE" StaticName="DocumentDescription" />
      </Fields>
      <Views>
      </Views>
      <Receivers>
        <Receiver>
          <Name>AutoTaggingServiceItemAdding</Name>
          <Type>ItemAdding</Type>
          <SequenceNumber>10000</SequenceNumber>
          <Url>https://ecmautotagging.azurewebsites.net/Services/AutoTaggingService.svc</Url>
          <Synchronization>Synchronous</Synchronization>
        </Receiver>
      </Receivers>
    </List>

    <List Title="JCI IT Project Document Library" Direction="Direction" Url="JCIITProjectDocumentLibrary" BaseType="1" EnableContentTypes="TRUE" VersioningEnabled="TRUE" MajorVersionLimit="10" EnableMinorVersions="TRUE" MajorWithMinorVersionsLimit="10">
      <ContentTypes>
        <ContentTypeRef ID="0x010100EA254AAEB50D427F87E6DD3EC4BD243700DEB8C8D5795E4CCF916F3DECC091F51C" />
        <ContentTypeRef ID="0x0120" />
        <ContentTypeRef ID="0x0101" />
      </ContentTypes>
      <Fields>
        <Field ID="{23203e97-3bfe-40cb-afb4-07aa2b86bf45}" Type="Text" Name="ProjectID" DisplayName="Project ID" Group="JCI.Foundation.Columns" SourceID="http://schemas.microsoft.com/sharepoint/v3" MaxLength="255" AllowDeletion="TRUE" StaticName="ProjectID" />
        <Field ID="{b01b3dbc-4630-4ed1-b5ba-321bc7841e3d}" Type="Text" Name="ProjectName" DisplayName="Project Name" Group="JCI.Foundation.Columns" SourceID="http://schemas.microsoft.com/sharepoint/v3" MaxLength="255" AllowDeletion="TRUE" StaticName="ProjectName" />
        <Field ID="{a5de9600-b7a6-42dd-a05e-10d4f1500208}" Type="Text" Name="ProjectManager" DisplayName="Project Manager" Group="JCI.Foundation.Columns" SourceID="http://schemas.microsoft.com/sharepoint/v3" MaxLength="255" AllowDeletion="TRUE" StaticName="ProjectManager" />
        <Field ID="{f1a1715e-6c52-40de-8403-e9aafd0470d0}" Type="Text" Name="DocumentDescription" DisplayName="Document Description" Group="JCI.Foundation.Columns" SourceID="http://schemas.microsoft.com/sharepoint/v3" MaxLength="255" AllowDeletion="TRUE" StaticName="DocumentDescription" />
      </Fields>
      <Views>
      </Views>
      <Receivers>
        <Receiver>
          <Name>AutoTaggingServiceItemAdding</Name>
          <Type>ItemAdding</Type>
          <SequenceNumber>10000</SequenceNumber>
          <Url>https://ecmautotagging.azurewebsites.net/Services/AutoTaggingService.svc</Url>
          <Synchronization>Synchronous</Synchronization>
        </Receiver>
      </Receivers>
    </List>

    <List Title="Team Project Assignments" FolderCreation="FALSE" Direction="Direction" Url="Lists/TeamProjectAssignments" BaseType="0">
      <ContentTypes>
        <ContentType ID="0x0100f4167c96d76946c8979f46730c5a4c8e" Name="ListFieldsContentType" Group="JCI Foundation Content Types">
          <FieldRefs>
            <FieldRef ID="{fa564e0f-0c70-4ab9-b863-0177e6ddd247}" Name="Title" />
            <FieldRef ID="{981b987e-dd03-460a-9316-f017df7beca8}" Name="Name1" />
          </FieldRefs>
        </ContentType>
        <ContentTypeRef ID="0x01">
          <Folder TargetName="Item" />
        </ContentTypeRef>
        <ContentTypeRef ID="0x0120" />
      </ContentTypes>
      <Fields>
        <Field ID="{fa564e0f-0c70-4ab9-b863-0177e6ddd247}" Type="Text" Name="Title" DisplayName="Title" Required="TRUE" SourceID="http://schemas.microsoft.com/sharepoint/v3" StaticName="Title" MaxLength="255" />
        <Field Name="Name1" ID="{981b987e-dd03-460a-9316-f017df7beca8}" DisplayName="Name" Type="Text" Required="TRUE" />
      </Fields>
      <Views>
      </Views>
    </List>

    <List Title="Project Change Request" FolderCreation="FALSE" Direction="Direction" Url="Lists/ProjectChangeRequest" BaseType="0"  EnableContentTypes="TRUE" VersioningEnabled="TRUE" MajorVersionLimit="10">
      <ContentTypes>
        <ContentTypeRef ID="0x01008A0D4AE55A3A4DA7AE0C93739366B32A" />
        <ContentTypeRef ID="0x01">
          <Folder TargetName="Item" />
        </ContentTypeRef>
        <ContentTypeRef ID="0x0120" />
      </ContentTypes>
      <Fields>
        <Field ID="{fa564e0f-0c70-4ab9-b863-0177e6ddd247}" Type="Text" Name="Title" DisplayName="Title" Required="TRUE" SourceID="http://schemas.microsoft.com/sharepoint/v3" StaticName="Title" MaxLength="255" />
        <Field ID="{23203e97-3bfe-40cb-afb4-07aa2b86bf45}" Type="Text" Name="ProjectID" DisplayName="Project ID" Group="JCI.Foundation.Columns" SourceID="http://schemas.microsoft.com/sharepoint/v3" MaxLength="255" AllowDeletion="TRUE" StaticName="ProjectID" />
        <Field ID="{d13619fd-7dad-42cd-87a2-aaa8a4d780b1}" Type="DateTime" Name="DateIssued" DisplayName="Date Issued" Group="JCI.Foundation.Columns" SourceID="http://schemas.microsoft.com/sharepoint/v3" StaticName="DateIssued" />
        <Field ID="{35145188-c527-4153-a6be-e44f3fde5993}" Type="Note" Name="ProjectDescription" Group="JCI.Foundation.Columns" DisplayName="Project Description" SourceID="http://schemas.microsoft.com/sharepoint/v3" StaticName="ProjectDescription" />
        <Field ID="{58a540ed-d3dc-4e8f-8a87-1d8d1eebfa14}" Type="Note" Name="Impact" DisplayName="Impact" Group="JCI.Foundation.Columns" SourceID="http://schemas.microsoft.com/sharepoint/v3" StaticName="Impact" />
        <Field ID="{1d3a8b2a-1375-41e1-8672-4f82e2a6fbd6}" Type="Note" Name="JCINotes" DisplayName="JCI Notes" Group="JCI.Foundation.Columns" SourceID="http://schemas.microsoft.com/sharepoint/v3" StaticName="JCINotes" />
        <Field ID="{dac36c1c-032e-4f73-b0ec-8a96c8f11c49}" Type="User" Name="ApprovedBy" DisplayName="Approved By" Group="JCI.Foundation.Columns" SourceID="http://schemas.microsoft.com/sharepoint/v3" StaticName="ApprovedBy" />
        <Field ID="{eb273e76-d562-47d6-951d-2f4b9c0ea9eb}" Type="DateTime" Name="DeadLine" DisplayName="DeadLine" Group="JCI.Foundation.Columns" SourceID="http://schemas.microsoft.com/sharepoint/v3" StaticName="DeadLine" />
        <Field ID="{88e7c39a-ee85-4155-8d88-1d539ddefde7}" Type="Choice" Name="WorkflowStatus" DisplayName="Workflow Status" Group="JCI.Foundation.Columns" SourceID="http://schemas.microsoft.com/sharepoint/v3" StaticName="WorkflowStatus" >
          <FieldBody>
            &lt;Default&gt;New&lt;/Default&gt;
            &lt;CHOICES&gt;
            &lt;CHOICE&gt;New&lt;/CHOICE&gt;
            &lt;CHOICE&gt;Approved&lt;/CHOICE&gt;
            &lt;CHOICE&gt;Rejected&lt;/CHOICE&gt;
            &lt;CHOICE&gt;Pending&lt;/CHOICE&gt;
            &lt;CHOICE&gt;MoreInfoRequired&lt;/CHOICE&gt;
            &lt;CHOICE&gt;InformationProvided&lt;/CHOICE&gt;
            &lt;/CHOICES&gt;
          </FieldBody>
        </Field>
        <Field ID="{855d5649-576e-45fe-bcbc-cfee918374b2}" Type="Boolean" Name="Done" DisplayName="Work Completed" Group="JCI.Foundation.Columns" SourceID="http://schemas.microsoft.com/sharepoint/v3" StaticName="Done" />
        <Field ID="{ba6d9f76-01a7-4f33-a4dd-0f6685f26d94}" Type="Calculated" DisplayName="Change Request Status" ResultType="Text" Group="JCI.Foundation.Columns" SourceID="http://schemas.microsoft.com/sharepoint/v3" ReadOnly="TRUE" EnforceUniqueValues="FALSE" Indexed="FALSE" Format="DateOnly" LCID="1033" Customization="" StaticName="ChangeRequestStatus" Name="ChangeRequestStatus" ShowInEditForm="TRUE" ShowInViewForms="TRUE" ShowInListSettings="TRUE">
          <FieldBody>
            &lt;Formula&gt;=[Workflow Status]&lt;/Formula&gt;
            &lt;FormulaDisplayNames&gt;=[Workflow Status]&lt;/FormulaDisplayNames&gt;
            &lt;FieldRefs&gt;
            &lt;FieldRef Name=&quot;[Workflow Status]&quot; /&gt;
            &lt;/FieldRefs&gt;
          </FieldBody>
        </Field>
      </Fields>
      <Views>
        <View BaseViewID="1" Type="HTML" WebPartZoneID="Main" DisplayName="Default" DefaultView="TRUE" RowLimit="30" MobileView="TRUE" MobileDefaultView="TRUE" SetupPath="pages\viewpage.aspx" ImageUrl="/_layouts/15/images/generic.png" Url="AllItems.aspx">
          <ViewFields>
            <FieldRef Name="LinkTitle"></FieldRef>
            <FieldRef Name="ID" />
            <FieldRef Name="ProjectID" />

            <FieldRef Name="DateIssued" />
            <FieldRef Name="ProjectDescription" />
            <FieldRef Name="Impact" />
            <FieldRef Name="JCINotes" />
            <FieldRef Name="ApprovedBy" />
            <FieldRef Name="DeadLine" />
            <FieldRef Name="Done" />
            <FieldRef Name="ChangeRequestStatus" />
          </ViewFields>
          <Query>
            &lt;OrderBy&gt;&lt;FieldRef Name=&quot;ID&quot;&gt;&lt;/FieldRef&gt;&lt;/OrderBy&gt;
          </Query>
        </View>
      </Views>
    </List>

  </Lists>

</TemplateConfiguration>
