<?xml version="1.0" encoding="utf-8" ?>
<ConfigurationContainers>
  <Containers>
    
    <ConfigurationContainer Name="TeamSiteConfig">
      
      <Lists>
        <ListInstance Title="Links List"
                      OnQuickLaunch="false" 
                      Description="Team site quick links"
                      ListTemplateId = "103"
                      CustomListDefinitionName =""
                      IsCustom ="false">
        </ListInstance>
        <ListInstance Title="Task List"
                      OnQuickLaunch="false"
                      Description="A Task List to manage tasks"
                      ListTemplateId = "171"
                      CustomListDefinitionName =""
                      IsCustom ="false">
        </ListInstance>
        <ListInstance Title="Team Announcements"
                     OnQuickLaunch="false" 
                     Description="Provision a Team Announcements List"
                     ListTemplateId = "104"
                     CustomListDefinitionName =""
                     IsCustom ="false">
        </ListInstance>
        <ListInstance Title="Team Calendar"
                      OnQuickLaunch="false"                     
                      Description="Team site calendar"
                      ListTemplateId = "106"
                      CustomListDefinitionName =""
                      IsCustom ="false">
        </ListInstance>
        <ListInstance Title="Team Contacts"
                      OnQuickLaunch="false" 
                      Description="Team site contact list"
                      ListTemplateId = "105"
                      CustomListDefinitionName =""
                      IsCustom ="false">
        </ListInstance>
        <ListInstance Title="Team Discussions"
                      OnQuickLaunch="false"  
                      Description="Team discussion list"
                      ListTemplateId = "108"
                      CustomListDefinitionName =""
                      IsCustom ="false">
        </ListInstance>
        <ListInstance Title="Team Site Wiki"
                      OnQuickLaunch="false" 
                      Description="Library to manage wiki pages"
                      ListTemplateId = "119"
                      CustomListDefinitionName =""
                      IsCustom ="false">
        </ListInstance>
        <ListInstance Title="Project Assignments"
                      OnQuickLaunch = "false" 
                      Description = "Project Assigments are stored here"
                      ListTemplateId = "101"
                      CustomListDefinitionName ="Team Project Assignments"                     
                      EnableVersioning ="true"
                      IsCustom ="true">
        </ListInstance>
        <ListInstance Title = "Team Site Documents"
                      OnQuickLaunch = "false"
                      Description = "Team Site Documents are stored here"
                      ListTemplateId = ""
                      CustomListDefinitionName ="JCI IT Project Document Library"
                      EnableVersioning ="true"
                      IsCustom ="true">
        </ListInstance>
        <ListInstance Title = "General Documents"
                   Description = "General Documents are stored here"
                   ListTemplateId = ""
                   CustomListDefinitionName ="JCI General Project Document Library"
                   OnQuickLaunch = "true"                 
                   EnableVersioning ="true"
                    IsCustom ="true">
        </ListInstance>
        <ListInstance Title = "Base Documents"
                   Description = "Base Documents are stored here"
                   ListTemplateId = ""
                   CustomListDefinitionName ="JCI Base Metadata Document Library"
                   OnQuickLaunch = "true"                  
                   EnableVersioning ="true"
                    IsCustom ="true">
        </ListInstance>
        <ListInstance Title = "Documents"
                  Description = "Documents are stored here"
                  ListTemplateId = ""
                  CustomListDefinitionName ="JCI Base Metadata Document Library"
                  OnQuickLaunch = "true"
                  EnableVersioning ="true"
                  IsCustom ="true">
        </ListInstance>
      </Lists>
      
      <Features>
        <Feature Name="Getting Started (GettingStarted) site feature" ID="4aec7207-0d02-4f4f-aa07-b370199cd0c7" Scope="Web" Activate="false" />        
      </Features>
      
      <CustomActions>
        <CustomAction Name ="JCI_CAM_TestSiteBannerInjection" ApplyOnlyToTestSite="true"/>
        <CustomAction Name ="JCI_CAM_SubSite_OverrideCreateNewSite" />
        <CustomAction Name ="JCI_CAM_HeaderFooterInjection" />
        <CustomAction Name ="JCI_CAM_SPDSettings" />
      </CustomActions>      

      <SiteProperties>
        <SiteProperty Name="Region"/>
        <SiteProperty Name="BusinessUnit"/>
        <SiteProperty Name="SiteType"/>
        <SiteProperty Name="Country"/>
        <SiteProperty Name="SiteLanguage"/>
        <SiteProperty Name="IsTestSite"/>
        <SiteProperty Name="ConfidentialityLevel"/>
      </SiteProperties>

    </ConfigurationContainer>
    
    <ConfigurationContainer Name="ProjectSiteConfig">
      
      <Lists>
        <ListInstance Title="Team Project Assignments"                     
                      Description = "Project Documents are stored here"
                      ListTemplateId = ""
                      CustomListDefinitionName ="Team Project Assignments"
                      OnQuickLaunch = "true"                                      
                      EnableVersioning ="true"
                      IsCustom ="true">
        </ListInstance>
        <ListInstance Title="Project Change Request"                   
                      Description = "Project Documents are stored here"
                      ListTemplateId = ""
                      CustomListDefinitionName ="Project Change Request"
                      OnQuickLaunch = "true"                             
                      EnableVersioning ="true"
                      IsCustom ="true">
        </ListInstance>
        <ListInstance Title = "Documents"
                  Description = "Documents are stored here"
                  ListTemplateId = ""
                  CustomListDefinitionName ="JCI Base Metadata Document Library"
                  OnQuickLaunch = "true"
                  EnableVersioning ="true"
                  IsCustom ="true">
        </ListInstance>
      </Lists>
      
      <Features>
        <Feature Name="Getting Started (GettingStarted) site feature" ID="4aec7207-0d02-4f4f-aa07-b370199cd0c7" Scope="Web" Activate="false" />
      </Features>
      
      <CustomActions>
        <CustomAction Name ="JCI_CAM_TestSiteBannerInjection" ApplyOnlyToTestSite="true"/>
        <CustomAction Name ="JCI_CAM_SubSite_OverrideCreateNewSite" />
        <CustomAction Name ="JCI_CAM_HeaderFooterInjection" />
        <CustomAction Name ="JCI_CAM_SPDSettings" />
      </CustomActions>

      <SiteProperties>
        <SiteProperty Name="Region"/>
        <SiteProperty Name="BusinessUnit"/>
        <SiteProperty Name="SiteType"/>
        <SiteProperty Name="Country"/>
        <SiteProperty Name="SiteLanguage"/>
        <SiteProperty Name="IsTestSite"/>
        <SiteProperty Name="ConfidentialityLevel"/>
        <SiteProperty Name="ProjectStartDate"/>
        <SiteProperty Name="ProjectEndDate"/>
        <SiteProperty Name="ProjectName"/>
      </SiteProperties>
      
    </ConfigurationContainer>
    
    <ConfigurationContainer Name="CommunitySiteConfig">
      
      <Lists>
        <ListInstance Title="Community Announcements"
                      OnQuickLaunch="false" 
                      Description="Community Announcement List"
                      ListTemplateId = "104"
                      CustomListDefinitionName =""                    
                      EnableVersioning ="true"
                      IsCustom ="false">
        </ListInstance>

        <ListInstance Title="Community Calendar"
                      OnQuickLaunch="false"
                      Description="Community Calendar"
                      ListTemplateId = "106"
                      CustomListDefinitionName =""                      
                      EnableVersioning ="true"
                      IsCustom ="false">
        </ListInstance>

        <ListInstance Title="Community Links"
                      OnQuickLaunch="false" 
                      Description="Community Links list"
                      ListTemplateId = "103"
                      CustomListDefinitionName =""                     
                      EnableVersioning ="true"
                      IsCustom ="false">
        </ListInstance>

        <ListInstance Title="Community Picture Library"
                      OnQuickLaunch="false"
                      Description="Community Picture Library"
                      ListTemplateId = "109"
                      CustomListDefinitionName =""                    
                      EnableVersioning ="true"
                      IsCustom ="false">
        </ListInstance>

        <ListInstance Title="Community Promoted Links"
                      OnQuickLaunch="false"
                      Description="Community promoted Links"
                      ListTemplateId = "103"
                      CustomListDefinitionName =""                    
                      EnableVersioning ="true"
                      IsCustom ="false">
        </ListInstance>

        <ListInstance Title="Quick Poll"
                      OnQuickLaunch="false" 
                      Description="Quick Poll"
                      ListTemplateId = "102"
                      CustomListDefinitionName =""                   
                      EnableVersioning ="true"
                      IsCustom ="false">
        </ListInstance>
        
        <ListInstance Title = "Community Document Library"
                 Description = "Community Documents are stored here"
                 ListTemplateId = ""
                 CustomListDefinitionName ="JCI Base Metadata Document Library"
                 OnQuickLaunch = "true"
                 EnableVersioning ="true"
                 IsCustom ="true">
        </ListInstance>
      </Lists>
      
      <Features>
        <Feature Name="Getting Started (GettingStarted) site feature" ID="4aec7207-0d02-4f4f-aa07-b370199cd0c7" Scope="Web" Activate="false" />
      </Features>
      
      <CustomActions>
        <CustomAction Name ="JCI_CAM_TestSiteBannerInjection" ApplyOnlyToTestSite="true"/>
        <CustomAction Name ="JCI_CAM_SubSite_OverrideCreateNewSite" />
        <CustomAction Name ="JCI_CAM_HeaderFooterInjection" />
        <CustomAction Name ="JCI_CAM_SPDSettings" />
      </CustomActions>      

      <SiteProperties>
        <SiteProperty Name="Region"/>
        <SiteProperty Name="BusinessUnit"/>
        <SiteProperty Name="SiteType"/>
        <SiteProperty Name="Country"/>
        <SiteProperty Name="SiteLanguage"/>
        <SiteProperty Name="IsTestSite"/>
        <SiteProperty Name="ConfidentialityLevel"/>
      </SiteProperties>
      
    </ConfigurationContainer>

    <ConfigurationContainer Name="PartnerSiteConfig">

      <Features>
        <Feature Name="Getting Started (GettingStarted) site feature" ID="4aec7207-0d02-4f4f-aa07-b370199cd0c7" Scope="Web" Activate="false" />
      </Features>

      <CustomActions>        
        <CustomAction Name ="JCI_CAM_SubSite_OverrideCreateNewSite" />     
        <CustomAction Name ="JCI_CAM_SPDSettings" />
      </CustomActions>

      <SiteProperties>
        <SiteProperty Name="Region"/>
        <SiteProperty Name="BusinessUnit"/>
        <SiteProperty Name="SiteType"/>
        <SiteProperty Name="Country"/>
        <SiteProperty Name="SiteLanguage"/>
        <SiteProperty Name="IsTestSite"/>
        <SiteProperty Name="ConfidentialityLevel"/>
      </SiteProperties>
</ConfigurationContainer>
    
  </Containers>
</ConfigurationContainers>