<?xml version="1.0" encoding="utf-8" ?>
<TenancyConfiguration>
<Tenancies>
  <!-- PPE -->
  <Tenancy WebApplicationUrl="https://ppemy.jci.com" TenantAdminUrl="https://ppemy.jci.com/msotenantcontext"/>
  <Tenancy WebApplicationUrl="https://ppeapps.jci.com" TenantAdminUrl="https://ppeapps.jci.com/msotenantcontext"/>
  <Tenancy WebApplicationUrl="https://ppepartners.jci.com" TenantAdminUrl="https://ppepartners.jci.com/msotenantcontext"/>
  <Tenancy WebApplicationUrl="https://ppemysite.jci.com" TenantAdminUrl="https://ppemysite.jci.com/MSOTenantContext"/>
  <Tenancy WebApplicationUrl="https://my.jci.com" TenantAdminUrl="https://my.jci.com/msotenantcontext"/>
  <Tenancy WebApplicationUrl="https://apps.jci.com" TenantAdminUrl="https://apps.jci.com/msotenantcontext"/>
  <Tenancy WebApplicationUrl="https://partners.jci.com" TenantAdminUrl="https://partners.jci.com/msotenantcontext"/>
  <Tenancy WebApplicationUrl="https://mysite.jci.com" TenantAdminUrl="https://mysite.jci.com/MSOTenantContext"/>
</Tenancies>
</TenancyConfiguration>