@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    <div class="col-md-4">
        <h2>Auto Tagging Application</h2>
        <p>@ViewBag.Message    Successfully published.
        </p>        
    </div>
   
</div>