<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="RetryPolicyConfiguration" type="Microsoft.Practices.EnterpriseLibrary.TransientFaultHandling.Configuration.RetryPolicyConfigurationSettings, Microsoft.Practices.EnterpriseLibrary.TransientFaultHandling.Configuration, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="typeRegistrationProvidersConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.TypeRegistrationProvidersConfigurationSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>
  <RetryPolicyConfiguration defaultRetryStrategy="Fixed Interval Retry Strategy" defaultAzureServiceBusRetryStrategy="Fixed Interval Retry Strategy">
    <fixedInterval name="Fixed Interval Retry Strategy" retryInterval="00:00:10" maxRetryCount="15" />
  </RetryPolicyConfiguration>
  <typeRegistrationProvidersConfiguration>
    <clear />
    <add sectionName="RetryPolicyConfiguration" name="RetryPolicyConfiguration" />
  </typeRegistrationProvidersConfiguration>
  <system.diagnostics>
    <sources>
      <source name="JCICAMTraceSource" switchName="sourceSwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="AzureDiagnostics">
            <filter type="" />
          </add>
          <!--<add name="localListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="c:\CAMLogs\myListener.log" traceOutputOptions="ProcessId,DateTime, Callstack" />
          <add type="JCI.CAM.Common.Logging.ConsoleTraceListener, JCI.CAM.Common, Version=1.0.0.0, Culture=neutral, PublicKeyToken=c07a043d3f0e8cd6" name="ConsoleListener" />-->
          <remove name="Default">
          </remove>
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="sourceSwitch" value="All" />
    </switches>
    <trace autoflush="true" indentsize="4">
    </trace>
  </system.diagnostics>
  <connectionStrings>
    <!-- The format of the connection string is "DefaultEndpointsProtocol=https;AccountName=NAME;AccountKey=KEY" -->
    <!-- For local execution, the value can be set either in this config file or through environment variables -->
    <add name="AzureWebJobsDashboard" connectionString="DefaultEndpointsProtocol=https;AccountName=jciapps;AccountKey=3PbxjE+8ReLcdIswmoCfnkzy3TGkfTIP8NGKLESvzV12MF+XT5ofITmNspd2GxZvgeFFPKMVNQad57R24+XzFw==" />
    <add name="AzureWebJobsStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=jciapps;AccountKey=3PbxjE+8ReLcdIswmoCfnkzy3TGkfTIP8NGKLESvzV12MF+XT5ofITmNspd2GxZvgeFFPKMVNQad57R24+XzFw==" />
  </connectionStrings>
  <appSettings>
    <!--AZURE SETTINGS-->
    <add key="ServiceBus.SiteMigrationConnection" value="Endpoint=sb://jci-spappsqa.servicebus.windows.net/;SharedAccessKeyName=SendAndListenAccessKey;SharedAccessKey=GC8UE9myBnjjIKCmCCU1IglcSdWUK/5xNzadeVK+bWs=" />
    <add key="ServiceBus.SiteMigrationRequestQueue" value="jci-spcammigrationqueueqa" />

    <add key="ClientId" value="59aa58b0-d42c-4c27-8a76-2bc73d0f95f1" />
    <add key="ClientSecret" value="ABJTbWUUgjZKG70U7qi+sST9xSgxyTvQUmP5Hzomp/w=" />
    <add key="TenantAdminUrl" value="https://ppemy.jci.com/msotenantcontext" />
    <add key="SharePointHostedAppDomains" value=".ppe062dspoapp.com,.062dspoapp.com" />
         
    <!-- Global configuration list title -->
    <add key="GlobalConfigurationListName" value="GlobalConfigurationList" />
    <!-- SharePoint OnPremise -->
    <add key="SharePointOnPremises" value="true" />
    <!-- Site Migration Request Site Url -->
    <add key="MigrationRequestSiteUrl" value="https://ppemy.jci.com/sites/SiteProvisioningV2" />
    <add key="SiteProvisioningSiteUrl" value="https://ppemy.jci.com/sites/SiteProvisioningV2" />
    <add key="WorkflowConfigurationListName" value="WorkflowConfiguration"/>
    <!-- Migration Request List -->
    <add key="MigrationRequestListTitle" value="Site Migration Request" />
    <!-- Migration Request Success status value-->
    <add key="MigrationSuccessStatus" value="Success" />
    <!-- Migration Request Failed status value-->
    <add key="MigrationFailedStatus" value="Failed" />

    <add key="SendEmailNotificationForSiteMigrationStatus" value="true"/>
    <!-- Content Type Hub Site collection url-->
    <add key="ContentTypeHubSiteUrl" value="https://ppeapps.jci.com/sites/contenthub/" />
    <!-- Site Migration Job -->
    <!-- Specifying whether to run the test site banner injection operation or not -->
    <add key="RunTestSiteBannerInjectionOperation" value="true" />
    <add key="TestSiteBannerFeatureID" value="0925c121-6f17-4120-b443-2e88f5160941" />
    <add key="TestSiteBannerFeatureName" value="JCI.Foundation.Collaboration.TestSite" />
    <!-- Specifying whether to run the Feature deactivation operation or not -->
    <add key="RunDeactiveFeaturesOperation" value="true" />
    <!-- Specifying whether to run the header and footer injection operation or not -->
    <add key="RunHeaderFooterInjectionOperation" value="true" />
    <!-- Specifying whether to run the subsite link injection operation or not -->
    <add key="RunSubSiteInjectionOperation" value="true" />
    <!-- Specifying whether to run SPD operation or not -->
    <add key="RunSPDOperation" value="true" />
    <!-- Specifying whether to run applying themes operation or not -->
    <add key="RunApplyingThemesOperation" value="true" />
    <!-- Specifying whether to run adding event receiver to list operation or not -->
    <add key="RunAddingEventReceiverToListOperation" value="true" />
    <!-- Specifying whether to run the adding sandbox solution to the site operation or not -->
    <add key="AddSandBoxSolutionOperation" value="true" />
    <add key="SandBoxSolutionFilePath" value="Resources\WSPs\JCI.Sandboxed.Foundation.ListDefinitions.wsp" />
    <add key="TenancyConfigurationFileLocation" value="Resources\SchemaFiles\TenantConfiguration.config" />
    <!-- Specifying whether to update the existing custom publishing page layout to default blank layout or not -->
    <add key="UpdatePageLayoutOperation" value="true" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ServiceBus" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>