<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.diagnostics>
    <sources>
      <source name="JCICAMTraceSource" switchName="sourceSwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.4.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="AzureDiagnostics">
            <filter type="" />
          </add>
          <!--<add name="localListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="e:\myListener.log" />-->
          <remove name="Default"></remove>
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="sourceSwitch" value="All" />
    </switches>
    <trace autoflush="true" indentsize="4"></trace>
  </system.diagnostics>
  <system.web>
    <sessionState mode="InProc" timeout="25"></sessionState>
    <compilation debug="false" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
 </system.web>
  <appSettings>
    <add key="ClientId" value="d796d3ab-2d53-45a4-aaff-6e0810341d40" />
    <add key="ClientSecret" value="zv6ITJpHlG3/cWyV/cyCal8SnzmZ3jLOKTSgwQz+xU8=" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <!--Used by app for SharePoint-->
        <binding name="secureBinding">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <protocolMapping>
      <add binding="basicHttpBinding" scheme="https" bindingConfiguration="secureBinding" />
    </protocolMapping>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>