body {   
    font-family: "Segoe UI Semilight","Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif;
    color: #262626;
    font-weight: 300;
}

/* Set padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.page
{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* loading  */

.mainLayout {
    position: fixed;
    height: 100%;
    width: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: #ababab;
    opacity: 0.6;
    display: none;
}

.preLoader {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -30px;
    margin-left: -20px;
}

.preLoader1 {
    color: white;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 50%;
    text-align: center;
}

.preLoader1 h2 {
    margin-top: 25px;
}

h5, h6 {
    font-family: "Segoe UI Semilight","Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif;
    color: #262626;
    font-weight: 300;
}
.ms-descriptiontext
{
    font-family:"Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif;
    font-size:0.9em;
    color:#777;
}
.ms-inputformdescription
{
    width:475px;
    padding-right:9px;
}